.custom-button {
    --main-color: black;
    --focus-color: #3a3197;
    min-width: 165px;
    width: auto;
    height: 50px;
    letter-spacing: 0.5px;
    line-height: 50px;
    padding: 0 35px 0 35px;
    font-size: 15px;
    background-color: var(--main-color);
    color: white;
    text-transform: uppercase;
    font-weight: bolder;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.custom-button:hover {
      background-color: var(--focus-color);
      color: white;
}

.inverted{
      background-color: white;
      color: var(--main-color);
      border: 1px solid var(--main-color);
}

.inverted:hover{
    background-color: var(--main-color);
    color: white;
    border: none;
}
