.about{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    z-index: 0;
    animation: fadeIn 2s ease 0s forwards;
}

.about .page{
    height: 91vh;
    min-width: 100vw;
    overflow: hidden;
    display: flex;
    position: relative;
}

.about .navigation-circles{
    position: fixed;
    right: 1vw;
    top: 35vh;
    z-index: 1;
    width: 50px;
    height: 30vh;
    background: rgba(100, 100, 100, 0.2);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navigation-circles .circle-container{
    width: 1.5vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}

.about .nav-circle{
    width: 1.5vw;
    height: 1.45vw;
    border-radius: 50%;
    background-color: var(--color5);
    opacity: 0.7;
    z-index: 200;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}


.about .nav-circle:hover{
    background-color: var(--highlight-color);
    opacity: 1;
    cursor: pointer;
}

.about .nav-circle .text-container{
    width: 1.5vw;
    height: 2.5vw;
    background: linear-gradient(to left,#26262600, 30%, #262626);
    opacity: 0;
    z-index: -10;
    position: absolute;
    border-radius: 40%;
    transition: 0.5s ease;
    overflow: hidden;
}

.about .nav-circle:hover .text-container{
    padding: 0.5rem;
    width: 12vw;
    opacity: 1;
    border-radius: 5px;
}

.about .nav-circle .text-container span{
    opacity: 0;
    margin-left: 10%;
    transition: 0.8s ease;
    line-height: 1.2rem;
    font-size: 1.2rem;
}

.about .nav-circle:hover span{
    display: inline;
    position: absolute;
    opacity: 1;
    transition: 0.1s ease;
}

#about-landing{
    align-items: center;
    flex-direction: column;
}

#about-landing h4{
    position: absolute;
    top: calc(50vh - 20rem);
    font-size: 25rem;
    opacity: 0.05;
    color: var(--highlight-color);
}

.about-title{
    font-size: 2.5rem;
}

.about-summary{
    margin: 1rem 10rem;
    font-size: 1.5rem;
}

#mission{
    background-color: var(--highlight-color);
    flex-direction: column;
    color: var(--color2);
    justify-content: flex-start;
    align-items: center;
}

.mission-title{
    font-size: 3.5rem;
    margin-top: 5%;
}

.mission-statement{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    margin: 0 10% 2%;
    font-size: 2rem;
    font-weight: 550;
}

#team{
    flex-direction: column;
    align-items: center;
}

#team h1{
    font-size: 3rem;
    margin: 5vh;
}

.team-container{
    width: 50vw;
}

@media screen and (max-width: 1000px){
    #about-landing h4{
        font-size: 20rem;
    }
    .about-title{
        font-size: 2.2rem;
    }
    
    .about-summary{
        margin: 1rem 5rem;
        font-size: 1.3rem;
    }
    .about .navigation-circles{
        display: none;
    }
}

@media screen and (max-width: 800px){
    #about-landing h4{
        font-size: 15rem;
        top: calc(50vh - 12rem);
    }
    .mission-title{
        font-size: 3rem;
    }
    
    .mission-statement{
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 600px){
    #about-landing h4{
        font-size: 8rem;
        top: calc(50vh - 12rem);
    }
    .about-title{
        font-size: 1.2rem;
    }
    .about-summary{
        margin: 1rem 2rem;
        font-size: 1.1rem;
        text-align: center;
    }
    .mission-title{
        font-size: 1.8rem;
    }
    
    .mission-statement{
        font-size: 1.4rem;
        margin: 5% 15%;
    }
}