.learn-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
    min-height: 90vh;
    position: relative;
    color: black;
    animation: fadeIn 0.5s ease 0s forwards;
}

.filtered-card-list{
    padding: 5vw;
}

.error-msg{
    text-align: center;
    padding: 30% 10%;
}

.learn-options{
    position: relative;
    margin: 10vh auto 0;
}

.learn-options a{
    font-size: 1.3rem;
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--color5);
    margin: 5px 50px;
    position: relative;
    z-index: 0;
    width: 100px;
    display: inline-block;
    text-align: center;
    transition: .7s ease;
}

.learn-options a.selected{
    color: var(--highlight-color);
}

.learn-options .animation{
    position: absolute;
    height: 5px;
    bottom: 0;
    left: 50px;
    z-index: -1;
    background-color: var(--highlight-color);
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.3);
    width: 100px;
    border-radius: 8px;
    transition: all 0.5s ease 0s;
}

a:nth-child(1).selected ~ .animation{
    left: 50px;
}
a:nth-child(2).selected~.animation{
    left: 260px;
    width: 80px;
}
a:nth-child(3).selected~.animation{
    left: 445px;
    width: 110px;
}
a:nth-child(4).selected~.animation{
    left: 665px;
    width: 70px;
}
a:nth-child(5).selected~.animation{
    left: 860px;
    width: 80px;
}


@media screen and (max-width: 1200px){
    .sidebar{
        width: 80%;
        height: auto;
        top: 10vh;
        left: auto;
        display: flex;
        flex: 1;
        border-left: black solid 1px;
    }
    .checkboxes{
        flex-direction: row;
        flex: 4;
        justify-content: space-evenly;
    }
    .filtered-card-list{
        padding: 10vh;
    }
}

@media screen and (max-width: 1000px){
    .animation{
        display: none;
    }

    .learn-options{
        width: 70vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (max-width: 860px){
    .learn-options a{
        font-size: 1rem;
    }
}