.learn-page{
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    min-height: 90vh;
    position: relative;
    color: black;
}

.sidebar{
    width: 10vw;
    height: 40%;
    padding: 1%;
    position: fixed;
    left: 0;
    top: 200px;
    border: black solid 1px;
    border-radius: 5px;
    border-left: none;
    background: var(--color4);
    font-size: 1.1rem;
}

.sidebar p{
    text-decoration: underline;
    cursor: pointer;
    color: var(--highlight-color);
}

.checkboxes{
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.checkboxes input{
    margin-right: 5px;
}

.filtered-card-list{
    padding: 5vw;
}

.error-msg{
    text-align: center;
    padding: 30% 10%;
}

@media screen and (max-width: 1200px){
    .sidebar{
        width: 80%;
        height: auto;
        top: 10vh;
        left: auto;
        display: flex;
        flex: 1;
        border-left: black solid 1px;
    }
    .checkboxes{
        flex-direction: row;
        flex: 4;
        justify-content: space-evenly;
    }
    .filtered-card-list{
        padding: 10vh;
    }
}