.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    position: relative;
    z-index: 0;
}

.home .img-container{
    width: 80vw;
    height: 85vh;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home .img-container img{
    width: 100%;
    filter: grayscale(100);
    opacity: 0.8;
    z-index: 1;
}

.home .img-container .title-container{
    z-index: 2;
    position: absolute;
    top: 10%;
}

.title-container h1{
    background: var(--color2);
    font-size: 3rem;
}