.custom-input{
    position: relative;
    height: 50px;
    width: 300px;
    overflow: hidden;
    --main-color: black;
    --focus-color: #3a3197;
}

.custom-input input{
    width: 100%;
    height: 1rem;
    font-size: 16px;
    color: #595f6e;
    padding: 30px 0 0 0;
    border: none;
    outline: none;
    background: transparent;
}

.custom-input label{
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 2px solid var(--main-color);
}

.custom-input label::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid var(--focus-color);
    left: 0;
    transform: translateX(-100%);
    transition: all 0.3s ease;
}

.content-name{
    position: absolute;
    bottom: 2px;
    left: 0px;
    transition: all 0.3s ease;
    color: var(--main-color);
}

.custom-input input:focus + .label-name .content-name,
.custom-input input:valid + .label-name .content-name {
    transform: translateY(-150%);
    font-size: 14px;
    color: var(--focus-color);
}

.custom-input input:focus + .label-name::after,
.custom-input input:valid + .label-name::after{
    transform: translateX(0%);
}