a{
    text-decoration: none;
}

.card{
    width: 200px;
    height: 250px;
    background: gray;
    border-radius: 5px;
    text-align: center;
    font-size: 10px;
    color: white;
    margin: 0 40px;
    transition: 0.5s ease;
}

.card:hover{
    transform: scale(1.03);
}

.card img{
    width: 100%;
}