.donate-card{
    --card-width: 38vw;
    width: var(--card-width);
    height: calc(var(--card-width)*.7);
    background-color: var(--color3);
    border: black 2px solid;
    border-radius: 10px;
    display: flex;
    margin: 1vw;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
    transition: .5s ease;
}

.donate-card:hover{
    transform: scale(1.02);
}

.donate-card .img-container{
    width: 50%;
    height: 100%;
    overflow: hidden;
    padding: 2vh;
}

.donate-card .img-container img{
    width: 100%;
    height: 100%;
}

.donate-card .content{
    width: 50%;
    height: 100%;
    color: var(--color5);
    padding: 2vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.donate-card .title{
    width: 100%;
    font-size: 1.3em;
    padding: 0 1vw;
}

.donate-card .summary{
    margin-top: 1vh;
    width: 100%;
    text-align: center;
    overflow: scroll;
    scroll-behavior: smooth;
}

.donate-card .button{
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1300px){
    .donate-card .summary{
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 1100px){
    .donate-card{
        height: calc(var(--card-width)*.8);
    }
    .donate-card .summary{
        font-size: .8rem;
    }
    .donate-card .button{
        transform: scale(0.7);
    }

}

@media screen and (max-width: 900px){
    .donate-card{
        --card-width: 60vw;
        height: calc(var(--card-width)*0.7);
    }

    .donate-card .title{
        font-size: 1.2rem;
    }

    donate-card .summary{
        font-size: .7rem;
    }

    .donate-card .button{
        transform: scale(0.7);
    }
}

@media screen and (max-width: 700px){
    .donate-card{
        justify-content: center;
        align-items: center;
        --card-width: 60vw;
        height: calc(var(--card-width)*1);
        margin: 5vh;
    }
    
    .donate-card .img-container{
        position: absolute;
        width: var(--card-width);
        height: calc(var(--card-width)*1);
        padding: 0.5rem;
        opacity: 0.2;
    }

    .donate-card .title{
        font-size: 1.5rem;
    }

    .donate-card .content{
        width: 90%;
    }

    .donate-card .summary{
        font-size: 0.9rem;
    }

}

@media screen and (max-width: 500px){
    .donate-card{
        --card-width: 70vw;
        height: calc(var(--card-width)*1.2);
    }
    
    .donate-card .img-container{
        width: var(--card-width);
        height: calc(var(--card-width)*1.2);
    }

    .donate-card .title{
        font-size: 1.2rem;
    }

    .donate-card .content{
        width: 90%;
    }

    .donate-card .summary{
        font-size: 0.8rem;
        max-height: 70%;
    }
}