.header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-items: flex-end;
    align-items: center;
    background: linear-gradient(to top, #27278d, #251a9c, #191164);
    opacity: .98;
    top: 0px;
    position: fixed;
    z-index: 3;
    border-bottom: #4a41a7 3px solid;
}

.logo-container{
    width: 20%;
    height: 100%;
    text-align: center;
    border-right: 1px white dotted;
    padding: 10px 20px;
}

.header .options{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 50px;
}

.option{
    width: 200px;
    text-align: center;
}

.link{
    margin: 0 50px;
    font-size: 20px;
    text-decoration: none;
    font-weight: 500;
    color:white;
    opacity: .8;
    transition: ease-in .2s;
}

.link:hover{
    opacity: 1;
    transform: scale(1.005);
}

.dropdown{
    margin-top: 25px;
    position: absolute;
    width: 250px;
    height: 0px;
    background: gray;
    opacity: 0;
    transition: all 0.5s ease;
}

#learn{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#learn .link:hover + .dropdown, .dropdown:hover{
    height: 300px;
    opacity: .95;
}