.header{
    width: 100%;
    height: 10vh;
    background: var(--color3);
    opacity: .98;
    top: 0px;
    position: fixed;
    z-index: 3;
    display: flex;
    justify-content: center;
}

nav{
    width: 90%;
    /* padding-left: 5%; */
    display: flex;
    position: relative;
}

.logo-container{
    flex: 5;
    height: 100%;
    text-align: left;
    display: flex;
    align-items: flex-end;
}

.logo-container img{
    height: 8vh;
}

.logo-container .hover-logo{
    position: absolute;
    opacity: 0;
}

.logos:hover .hover-logo{
    opacity: 1;
}

.header .options{
    flex: 3;    
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.option{
    text-align: center;
}

.link{
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: 500;
    color: var(--color5);
    opacity: .9;
    transition: ease .2s;
}

.link:hover{
    opacity: 1;
    color: var(--highlight-color);
    cursor: pointer;
}

@media screen and (max-width: 1200px){
    .header .options{
        flex: 7;
    }
}

@media screen and (max-width: 750px){
    nav{
        width: 95%;
        padding: 0;
    }
    
    .link{
        font-size: 16px;
    }

    .header .options{
        flex: 15;
    }
}