.gallery{
    margin: 40px 0;
    padding: 0;
    font-family: sans-serif;
    overflow-x: hidden;
    text-align: center;
    position: relative;
    display: flex;
}

.card-slider {
    position: relative;
    max-width: 840px;
    margin: 0 auto;
    overflow: hidden;
    padding: 40px 0;
}

.card-slider-wrapper {
    display: flex;
    justify-content: flex-start;
    transition: ease-in-out 0.5s;
}

.arrow{
    width: 80px;
    display: flex;
    align-items: center;
}

.arrow.disabled img{
    cursor: not-allowed;
}

.arrow img{
    width: 100%;
    cursor: pointer;
}