.gallery{
    padding: 0;
    font-family: sans-serif;
    overflow-x: hidden;
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    --num-cards: 3;
    --card-width: 330px;
}

.card-slider {
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    padding: 40px 0;
    display: flex;
    align-items: center;
    max-width: calc(var(--num-cards)*var(--card-width));
}

.card-slider-wrapper {
    display: flex;
    height: 300px;
    align-items: center;
    justify-content: flex-start;
    transition: ease-in-out 0.5s;
}

.arrow{
    width: 80px;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    filter: grayscale(100);
    filter: invert(100);
}

.arrow.disabled{
    opacity: 0.3;
}

.arrow.disabled img{
    cursor: not-allowed;
}

.arrow img{
    width: 100%;
    cursor: pointer;
}

@media screen and (max-width: 1100px){
    .gallery{
        --num-cards: 2;
    }
}

@media screen and (max-width: 775px){
    .gallery{
        --num-cards: 1;
    }
}

@media screen and (max-width: 500px){
    #left{
        left: 40px;
    }
    #right{
        left: -40px;
    }
}