.gallery{
    padding: 0;
    font-family: sans-serif;
    overflow-x: hidden;
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    --num-cards: 1;
    --card-width: 47vw;
}

.card-slider {
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    max-width: calc(var(--num-cards)*var(--card-width));
}

.card-slider-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: ease-in-out 1s;
}

.arrow{
    width: 80px;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    filter: grayscale(100);
    filter: invert(100);
}

.arrow img{
    width: 100%;
    cursor: pointer;
}

.alt-gallery{
    display: none;
}

@media screen and (max-width: 900px){
    .card-slider{
        display: none;
    }

    .card-slider-wrapper{
        display: none;
    }

    .arrow{
        display: none;
    }

    .alt-gallery{
        display: flex;
        flex-direction: column;
    }
}