.expanded-card-container{
    width: 55vw;
    height: 70vh;
    background-color:  rgb(41, 41, 41);
    border: black 2px solid;
    border-radius: 10px;
    display: flex;
    position: fixed;
    top: 22%;
}

.expanded-img-container{
    width: 50%;
    height: 100%;
    overflow: hidden;
    padding: 10px;
}

.expanded-img-container img{
    width: 100%;
    height: 100%;
}

.expanded-card-content{
    width: 50%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: var(--color5);
}

.expanded-card-content .exit-container{
    position: absolute;
    right: 0;
    padding: 5px 10px 0 0;
    text-align: right;
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
    color: var(--highlight-color);
}

.expanded-card-content .title-container{
    width: 100%;
    font-size: 1.5em;
    margin-top: 10px;
    padding: 0 20px;
}

.expanded-card-content .summary-container{
    width: 100%;
    height: auto;
    padding: 0 20px;
    text-align: center;
    overflow: scroll;
}

.expanded-card-content .button-container{
    display: flex;
    justify-content: center;
    height: 20%;
    padding: 20px;
}

@media screen and (max-width: 700px){
    .expanded-card-container{
        width: 80vw;
    }
}

@media screen and (max-width: 500px){
    .expanded-card-container{
        width: 90vw;
        height: 65vh;
    }
    
    .expanded-card-container .expanded-card-content .title-container{
        font-size: 1rem;
        height: auto;
    }

    .expanded-card-container .expanded-card-content .summary-container{
        font-size: 0.8rem;
        min-height: 30vh;
    }
}

@media screen and (max-width: 400px){
    .expanded-card-container{
        height: 55vh;
        top: 30vh;
    }

    .expanded-card-container .button-container{
        position: absolute;
        bottom: -2vh;
        left: -10%;
        transform: scale(0.8);
    }
}