.donate-page{
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow: hidden;
    animation: fadeIn 2s ease 0s forwards;
    padding-bottom: 10vh;
}

.donate-page h2{
    margin: 2rem 10rem;
    font-size: 1.5rem;
    margin-top: 0;
}

.donate-page .info{
    font-size: 1.5rem;
    padding: 1rem 15rem;
}

.donate-page .button-container{
    transform: scale(1.5);
    margin: 10vh;
}

@media screen and (max-width: 600px){
    .donate-page h2{
        font-size: 1rem;
        margin: 1rem 2rem;
    }
}