.donate-page{
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow: hidden;
    animation: fadeIn 2s ease 0s forwards;
}

.donate-page .info{
    font-size: 1.5rem;
    padding: 1rem 15rem;
}

.donate-page .button-container{
    margin: 5vh;
}